@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #EC1187 linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
body * {
    font-family: 'Montserrat';
  }

  @media only screen and (max-width: 635px) {
    .form-tittle {
        margin-top: 6.25vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tittle {
        font-size: 35px;
    }
    .form-page {
        margin-top: 12.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .send {
        cursor: pointer;
        text-decoration: none;
        border: none;
        margin-top: 20px;
        font-size: 20px;
        border-radius: 300px;
        width: 85vw;
        height: 65px;
        justify-content: center;
        background: #000000;
        color: white;
    }
    .input-form {
        border-radius: 30px;
        background-color: #ffffffa6;
        padding: 20px 20px 20px 20px;
        outline: none;
        resize: none;
        width: 85vw;
        height: 275px;
        font-size: 20px;
        border: none;
        margin-top: 20px;
    }
    .header {
        border-radius: 300px;
        width: 85vw;
        padding: 15px 15px 15px;
        margin-bottom: 5px;
        background: #ffffff;
        display: flex;
        justify-content: left;
    }   
    .logo-img {
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }
    .info {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        margin-left: 15px;
        justify-content: center;
    }
    .user {
        font-size: 13px;
        font-weight: 400;
    }
    .desc {
        font-size: 13px;
        font-weight: 600;
    }
}

@media only screen and (min-width: 636px) {
    .form-tittle {
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tittle {
        font-size: 65px;
        font:  'Montserrat', sans-serif;
    }
    .form-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .send, .rules {
        cursor: pointer;
        text-decoration: none;
        /* border: dashed; */
        border: none;
        /* box-shadow: 0px 0px 10px #f5bbbb; */
        /* background: #ddb8b6; */
        background: #ffffff;
        margin-top: 20px;
        bottom: 0   ;
    }
    .send:hover {
        transition: box-shadow .2s ease, color .2s ease, background .2s ease;
        border: none;
        background: #e8ffeb;
        box-shadow:0px 0px 0px 1px #aeceb2 inset;
        color: #000000;
    }
    .send {
        /* border-color: #64d489; */
        /* border-width: .5px; */
        font-size: 20px;
        border-radius: 30px;
        width: 500px;
        padding: 20px 125px;
        background-color: #000000;
        color: white;
    }
    .form-page {
        margin-top: 25vh;
        display: flex;
        flex-direction: column;
    }
    .input-form {
        outline: none;
        resize: none;
        width: 500px;
        height: 300px;
        font-size: 20px;
        padding: 20px 20px 20px 20px;
        border: none;
        background-color: #ffffffa6;
        /* border-radius: 0 0 24px 24px; */
        border-radius: 30px;
    }
    .header {
        /* border-radius: 25px 25px 0 0; */
        border-radius: 300px;
        width: 500px;
        padding: 15px 15px 15px;

        /* margin-bottom: 0; */
        margin-bottom: 15px;

        background: #ffffff;
        display: flex;
        justify-content: left;
        font-size: 15px;
    }   
    .logo-img {
        width: 45px;
        border-radius: 50px;
    }
    .info {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        margin-left: 15px;
        justify-content: center;
    }
    .user {
        font-weight: 400;
    }
    .desc {
        font-weight: 600;
    }
}