*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}
header {
  background-color: #009eff;
  top: 0;
  overflow: hidden;
  color: #eaeaea;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 30px #009eff;
}
.logo {
  margin-left: 0px;
	display: flex;
  width: 80px;
  height: 80px;
}
.blue {
  margin-right: 0px;
	display: flex;
  width: 80px;
  height: 80px;
}
nav ul{
  display: flex;
}
nav{
  margin: auto;
}
li {
  list-style-type: none;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}
a {
    color: #ffff;
    text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* About */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin-top: 0vh;
}
.my {
  margin-left: 15vw;
  margin-right: auto;
	display: flex;
  width: 30vw;
  transform: rotate(5deg);
}
.itch {
	margin-right: 10px;
	border: none;
	font-size: 1.25vw;
	padding: 6px 12px;
	background: #71d7ff;
	color: #ffff;
	border-radius: 1vh;
	cursor: pointer;
  width: 8vw;
  height: 6.5vh;
  margin-top: 7.5vh;
}
.text-container {
  margin-right: 25vw;
  align-items: center;
  text-align: center;
}
.title {
  margin-bottom: auto;
  margin-top: -5vh;
  font-size: 3vw;
  color: #ffff;
  transform: rotate(2.5deg);
}